<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.customer.mapper.ConsultationsMapper">

    <insert id="insert">
        insert into consultations (patient_id, is_surgery, has_fever, disease_type, symptoms, image, create_time)
        values (#{patientId}, #{isSurgery}, #{hasFever}, #{diseaseType}, #{symptoms}, #{image}, #{createTime})
    </insert>
</mapper>
